@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';
form {
  max-width: 500px;
}
.col-form-label {
  text-align: right;
  @include media-breakpoint-down(sm) {
    text-align: left;
  }
}
