@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}
