<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Terrabank</title>

  <!-- To disable compatibility mode in Internet Explorer -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Mobile tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="themes/terrabank.css" />
  <link rel="stylesheet" href="loan-request-terra.css" />
  <style>
    .beneficiary-question .control-label,
    .request-account .control-label {
      font-size: 16px;
      font-weight: bold;
    }
    ng-cloak {
      display: none;
    }
  </style>
</head>

<body class="wf-shell" ng-controller="controller">
  <div id="shell" class="wf-view" ng-cloak ng-init="initFromLoan()">
    <div class="wf-content wf-fixed-top" style="padding-top:0;">
      <div id="main-content">
        <form class="wf-fixed-bottom" ng-submit="submitFromLoan($event)">
          <div class="wf-flex wf-gutters wf-middle" style="margin-bottom:20px;">
            <div class="wf-grow">
              <img src="images/logo_terrabank.png" class="img-responsive" style="max-width: 300px; max-height: 30px;" />
            </div>
            <div><a href="/web/lead-help"><span class="glyphicon glyphicon-question-sign"></span> <span class="hidden-xs">Help</span></a></div>
          </div>
          <hr />
          <div class="wf-validation-message alert alert-danger">There are some validation errors, verify that all the fields that are marked with red</div>
          <div class="request-account" ng-if="currentStep==0">
            <p class="lead" style="margin-bottom:20px;">Proceeds from your Credit line can be accessed with a Terrabank Business Checking Account and the account will automatically be debited for the agreed upon loan payments.</p>
            <p>For more information about our accounts, <a href="#">click here</a></p>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group wf-required">
                  <div class="control-label">Does this business have an existing Terrabank Business Checking Account?</div>
                  <div class="wf-control">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customer-yes" name="customer" class="custom-control-input" value="yes" ng-model="request.hasAccount">
                      <label class="custom-control-label" for="customer-yes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customer-no" name="customer" class="custom-control-input" value="no" ng-model="request.hasAccount">
                      <label class="custom-control-label" for="customer-no">No</label>
                    </div>
                  </div>
                </div>
                <div class="form-group wf-required" ng-if="request.hasAccount=='yes'">
                  <div class="control-label">Please type your Account Number</div>
                  <div class="wf-control">
                    <input type="text" class="form-control" style="max-width:300px;" ng-focus="setType($event, 'text')" ng-blur="setType($event, 'password')" required />
                    <div class="small text-muted">This account needs to be the same as the Business Entity who was approved for the TerraWorks loan.</div>
                  </div>
                </div>
                <div class="form-group" ng-if="request.hasAccount=='yes'">
                  <div class="wf-control">
                    <div>By providing your Terrabank Checking account number, you are agreeing to link your Checking account to your TerraWorks Credit Line and have your monthly loan payments debited from this account. <a href="#terms" data-toggle="modal"
                        style="font-weight:bold;">Terms and Conditions</a></div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="agreeCheckingAccount" class="ng-pristine ng-valid" required> I Agree
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group" ng-if="request.hasAccount=='yes'">
                  <div class="control-label">Do you have access to Online Banking for this account?</div>
                  <div class="wf-control">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="olb-yes" name="olb" class="custom-control-input" value="yes" ng-model="request.hasOLB">
                      <label class="custom-control-label" for="olb-yes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="olb-no" name="olb" class="custom-control-input" value="no" ng-model="request.hasOLB">
                      <label class="custom-control-label" for="olb-no">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="request.hasAccount=='no'">
              <div class="form-group">
                <div class="control-label" style="margin-bottom:10px;">Check all Shareholders that will be signing on the Terrabank Business Checking Account.</div>
                <div id="signers" class="panel-group">
                  <div class="panel panel-default" ng-repeat="shareholder in shareholders">
                    <div class="panel-heading">
                      <div class="wf-flex wf-middle wf-gutters">
                        <div>
                          <input type="checkbox" name="signers" ng-model="shareholder.signer" />
                        </div>
                        <div>
                          <h4 style="margin:0;">{{ shareholder.firstName }} {{ shareholder.lastName }}</h4>
                          <div class="small text-muted">Shareholder - {{ shareholder.ownership }}% of ownership</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="signer-form panel panel-default" ng-repeat="person in signers">
                    <div class="panel-heading">
                      <h4 class="panel-title wf-flex wf-middle wf-gutters">
                        <div>
                          <input type="checkbox" name="signers" checked disabled />
                        </div>
                        <a href="#signer-{{ $index }}" class="wf-name" data-toggle="collapse" data-parent="#signers">
                          <div ng-if="!person.firstName && !person.middleName && !person.lastName">No name entered</div>
                          <div ng-if="person.firstName || person.middleName || person.lastName">
                            <h4 style="margin:0;">{{ person.firstName }} {{ person.middleName }} {{ person.lastName }}</h4>
                            <div class="small text-muted">Signer</div>
                          </div>
                        </a>
                        <div class="wf-grow"></div>
                        <div>
                          <button type="button" class="close" ng-click="removeItem(signers, person)"><span class="fa fa-times"></span></button>
                        </div>
                      </h4>
                    </div>
                    <div id="signer-{{ $index }}" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <p class="text-right text-danger small">* Indicates required field</p>
                        <div ng-include="'terralink-personal-info.html'"></div>
                        <div ng-include="'terralink-employment-info.html'"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="addSigner()"><span class="fa fa-plus"></span> Add additional signer</button>
              </div>
              <p class="alert alert-danger" ng-if="submitted && getShareholderSigners().length==0 && (!signers || signers.length==0)">To continue your Business Checking Account must have at least one signer, you can select one of the shareholders or add an additional signer.</p>
            </div>
          </div>
          <div style="margin-top:30px;" ng-if="request.hasAccount=='no'">
            <hr />
            <p>You are about to submit a deposit account application with Terrabank, N.A. By selecting "I Agree", you are acknowledging consent to the <a href="#terms" data-toggle="modal" style="font-weight:bold;">Terms and Conditions</a>.</p>
            <div class="form-group wf-required">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="agreeTerms" ng-model="agreement" ng-click="showAgreement($event)" required /> I Agree
                </label>
              </div>
            </div>
          </div>
          <div class="wf-flex" style="border-top: 1px solid #DDD; padding-top: 15px; margin-top: 30px;">
            <div class="wf-grow">
              <a href="https://www.fdic.gov/" target="_blank" title="Federal Deposit Insurance Corporation"><img src="images/logo-fdic.svg" style="height:25px;" /></a>
            </div>
            <div>
              <a href="https://www.fdic.gov/regulations/laws/rules/2000-6000.html" target="_blank" title="Equal Housing Lender"><img src="images/logo-ehl.svg" style="height:25px;width:118px;" /></a>
            </div>
          </div>
          <div class="wf-toolbar wf-toolbar-bottom wf-center">
            <div class="wf-actions wf-flex wf-gutters wf-center wf-grow">
              <button type="button" class="btn btn-default wf-grow-sm-down">Save for later</button>
              <button type="submit" class="btn btn-primary wf-grow-sm-down">Submit <span class="fa fa-angle-right"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="terms" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">Terms and Conditions</h5>
        </div>
        <div class="modal-body">
          <p>The above-signed certify that he/she has full authority to act on behalf of the business (the "Applicant") identified on this Business Loan Application (the "Application), and that all information contained herein is true and correct in
            all respects Terrabank, N.A. (the "Bank") is authorized to verify any information provided in connection with the Application .Bank may obtain credit reports for all owners' guarantors expected to be personally liable, including consumer
            credit reports in connection with the Application, and may also do so for renewals, extensions, collection activity or as otherwise permitted by law. Under the federal Fair Credit Reporting Act, Bank may get or share information
            regarding Applicant, guarantor(s) or Applicant's owner(s) with Bank affiliates unless the above-signed tells Bank not to share. The above-signed may prohibit Bank from sharing information provided or obtained by Bank from a third party,
            by mailing a written request to Terrabank, N.A., Business Banking, 3191 Coral Way, Coral Gables, FL 33145. The Application will be Bank's property whether or not credit is granted. Applicant agrees that Bank may rely on a facsimile
            and/or electronic transmission of the Application and any other signed documents received by Bank by facsimile and/or electronic transmission relating to the credit granted pursuant to the Application.</p>

          <p>Such facsimiles and/or electronic transmission or any copy of such facsimiles or electronic transmission shall be binding on Applicant and shall for all purposes be considered original documents. The above-signed understands that making
            false statements or material omissions intended to conceal pertinent facts may be a financial crime requiring referral to the appropriate law enforcement officials. The above-signed further agree to notify Bank immediately of any change
            in name, address, or any material change in (a) any information contained in the Application. (b) the financial condition of any of the above-signed, or (c) the ability of any of the above-signed to perform their obligations to the Bank.</p>

          <h3>CUSTOMER IDENTIFICATION PROGRAM</h3>
          <p>In accordance with Section 326 of the USA PATRIOT Act, Terrabank, N.A has developed a Customer Identification Program which is intended to facilitate the prevention, detection and prosecution of international money laundering and the
            financing of terrorism. Section 326 of the Act requires financial institutions to set forth minimum standards that relate to the identification and verification of any person who applies for an account Under this Act a person is defined
            as any individual, corporation, partnership, trust, estate, association, syndicate and unincorporated organization or group.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="setAgree()">I Agree</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    var librariesUrl = 'libraries/';
  </script>
  <script src="libraries/require.config.js"></script>
  <script data-main="terralink-request" src="libraries/require/require.js"></script>
</body>

</html>
